.center{
    text-align: center;
    background: black;
    color: antiquewhite;
}

.data{
    margin: 10px;
    padding: 10px;
    text-align: center;
    background: rgb(147, 241, 241);
    color: brown;
}